*{
	padding: 0px;
	margin: 0px;
}

/*index page*/

.index-body-container{
	height:100vh;
	background-color: #ECF0F1;
}

.index-name-container{
	padding-top: 60px;
	padding-bottom: 10px;
	background-color: #27AE60;
}

.index-name{
	text-align: center;
	padding: 20px;
	font-size: 60px;
	color: #ECF0F1;
}

.index-name:link {
    text-decoration: none;
}

.index-name:visited {
    text-decoration: none;
}

.index-name:hover {
    text-decoration: none;
}

.index-name:active {
    text-decoration: none;
}

.index-search-bar{
	text-align: center;
}

.index-search{

}

.index-search-input{
	border: none;
	border-bottom: 2px solid #757575;
	width: 45%;
	height: 50px;
	font-weight: 700;
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
}

.index-search-input:focus{
	border: none;
	border-bottom: 2px solid #27AE60;
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
	color: #424242;
}

.index-search-button{
	padding: 11px 8px;
	background-color: #eee;
	font-size: 20px;
	font-weight: 700;
	color: #27AE60;
	border-bottom: 1px solid #27AE60;
	border-right: 3px solid #27AE60;
	border-bottom-right-radius: 5px;
}

.index-search-button:hover{
	background-color: #e0e0e0;
	padding: 9.8px 4px;
	font-size: 22px;
}