*{
	padding: 0px;
	margin: 0px;
}

/*header css*/
.header{
    background-color: #27AE60;
    width: 100%;
    height: 80px;
}

.header-site{
  padding-left: 30px;
  padding-top: 20px;
}

.header-site-name{
  color: #ECF0F1;
  font-weight: 600;
  font-size: 17px;
}

.header-site-name:link{
  text-decoration: none;
}

.header-site-name:visited{
  text-decoration: none;
}

.header-site-name:hover{
  text-decoration: none;
}

.header-site-name:active{
  text-decoration: none;
}


/*footer css*/

.footer{
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background-color: #263238;
   margin-top: 10px;
}

.footer-position{
	position: absolute;
}

.footer-content p{
	text-align: center;
	padding-top: 20px;
	color: #757575;
}

/*.footer-content p b{
	color: #3498DB;
	font-family: "Sansation Light";
}*/


/*index page*/

.index-body-container{
	height:100vh;
	background-color: #ECF0F1;
}

.index-name-container{
	padding-top: 60px;
	padding-bottom: 10px;
	background-color: #27AE60;
}

.index-name{
	text-align: center;
	padding: 20px;
	font-size: 60px;
	color: #ECF0F1;
}

.index-name:link {
    text-decoration: none;
}

.index-name:visited {
    text-decoration: none;
}

.index-name:hover {
    text-decoration: none;
}

.index-name:active {
    text-decoration: none;
}

.index-search-bar{
	text-align: center;
}

.index-search{

}

.index-search-input{
	border: none;
	border-bottom: 2px solid #757575;
	width: 45%;
	height: 50px;
	font-weight: 700;
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
}

.index-search-input:focus{
	border: none;
	border-bottom: 2px solid #27AE60;
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
	color: #424242;
}

.index-search-button{
	padding: 11px 8px;
	background-color: #eee;
	font-size: 20px;
	font-weight: 700;
	color: #27AE60;
	border-bottom: 1px solid #27AE60;
	border-right: 3px solid #27AE60;
	border-bottom-right-radius: 5px;
}

.index-search-button:hover{
	background-color: #e0e0e0;
	padding: 9.8px 4px;
	font-size: 22px;
}

/*main page css*/

.main-content{
	height: 100%;
}

.main-account-panel{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.main-login-button{
	padding-right: 20px;
}

.main-login-button-input{
	
}

.main-account-panel span{
	font-size: 18px;
	color: #2e7d32;
	font-weight: 800;
}

.main-create-account-button{
	padding-left: 20px;
}

.main-create-account-button-input{
	
}

.main-login-button,
.main-create-account-button{
	
}

.main-login-button,
.main-create-account-button:link {
    text-decoration: none;
}

.main-login-button,
.main-create-account-button:visited {
    text-decoration: none;
}

.main-login-button,
.main-create-account-button:hover {
    text-decoration: none;
}

.main-login-button,
.main-create-account-button:active {
    text-decoration: none;
}

.main-login-button-input,
.main-create-account-button-input{
	font-size: 20px;
	padding: 11px 8px;
	background-color: #eee;
	font-size: 20px;
	font-weight: 700;
	color: #27AE60;
	border-bottom: 2px solid #27AE60;
	border-right: 4px solid #27AE60;
	border-bottom-right-radius: 10px;
}

.main-login-button-input:hover,
.main-create-account-button-input:hover{
	background-color: #e0e0e0;
}

.main-product-panel-head{
	border-top: 3px dotted #27AE60;
}

.main-product-panel-head-text{
	background-color: #27AE60;
	color: #ECF0F1;
	font-size: 20px;
	text-align: center;
	width: 100%;
	margin-top: 8px;
	margin-bottom: 8px;
}

.main-related-product{
	width: 100%;
}

.main-related-product table{
	margin: 0px auto;

}

.main-related-product-row{
}

.main-related-product-image-first img{
	width: 300px;
	height: 300px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.main-related-product-image img{
	width: 300px;
	height: 300px;
	margin-left: 25px;
	margin-top: 30px;
	margin-bottom: 10px;
}

/*login page*/

.login-input-table{
    margin: 0px auto; 
    margin-top: 40px;
}

.login-input-table tr td{
	padding-bottom: 10px;
}

.login-email-or-username-text{
	font-size: 20px;
	color: #27AE60;
	font-weight: 600;
}

.login-email-or-username-input{
	font-size: 20px;
	color: #27AE60;
	font-weight: 800;
}

.login-email-or-username-input input{
	height: 22px;
	width: 200px;
	border: none;
	border-bottom: 2px solid #757575;
	font-weight: 700;
}

.login-email-or-username-input input:focus{
	border: none;
	border-bottom: 2px solid #27AE60;
	font-size: 17px;
	color: #424242;
}

.login-password-text{
	font-size: 20px;
	color: #27AE60;
	font-weight: 600;
}

.login-password-input{
	font-size: 20px;
	color: #27AE60;
	font-weight: 600;
}

.login-password-input input{
	height: 22px;
	width: 200px;
	border: none;
	border-bottom: 2px solid #757575;
	font-weight: 700;
}

.login-password-input input:focus{
	border: none;
	border-bottom: 2px solid #27AE60;
	font-size: 17px;
	color: #424242;
}

.login-submit-button{
	text-align: center;
}

.login-submit-button td{
	padding-top: 20px;
}

.login-submit-button td input{
	font-size: 20px;
	padding: 4px 2px;
	background-color: #eee;
	font-size: 18px;
	font-weight: 700;
	color: #27AE60;
	border-bottom: 2px solid #27AE60;
	border-right: 4px solid #27AE60;
	border-bottom-right-radius: 7px;
}

.login-submit-button td input:hover{
	background-color: #e0e0e0;
}